* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.sell-btn:disabled {
  cursor: not-allowed;
}

.cartItem {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}